body {
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Dosis', sans-serif;
}

.navbar {
    background-color: #323232;
}

#navbar li a {
    color: #FFFFFF;
}

#navbar li a:hover {
    color: #757575;
}

.signature {
    font-family: 'Fredericka the Great', cursive;
    float: right;
}