{% extends 'MLCoreBundle::layout.html.twig' %}

{% block body %}

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ path('ml_ticketing_homepage') }}">Infos pratiques</a></li>
            <li role="presentation"><a href="{{ path('ml_ticketing_schedule') }}">Horaires</a></li>
            <li role="presentation"><a href="#">Tarifs</a></li>
            <li role="presentation"><a href="#">Commandez vos billets</a></li>
        </ul>

    {% block booking %}{% endblock %}

{% endblock %}