{% extends 'MLTicketingBundle::layout.html.twig' %}

{% block title %} Tarifs {{ parent() }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/mlticketing/css/rate.css') }}" type="text/css" />
{% endblock %}

{% block booking %}
    <div class="row">
        <div class="col-xs-12">
            <h1 >Tarifs</h1>
        </div>

        <div class="col-xs-12 col-md-8 col-lg-6">
            <div class="panel panel-warning">
                <!-- Panel title -->
                <div class="panel-heading"><h3>TARIFS DES BILLETS DU MUSÉE</h3></div>

                <!-- Table group -->
                <table class="table">
                    <tr>
                        <th>Type de billet</th>
                        <th>Prix</th>
                    </tr>
                    <tr>
                        <td>Tarif « normal » à partir de 12 ans</td>
                        <td>16€</td>
                    </tr>
                    <tr>
                        <td>Tarif « enfant » à partir de 4 ans et jusqu’à 12 ans<br />L’entrée est gratuite pour les enfants de moins de 4 ans</td>
                        <td>8€</td>
                    </tr>
                    <tr>
                        <td>Tarif « senior » à partir de 60 ans</td>
                        <td>12€</td>
                    </tr>
                    <tr>
                        <td>Tarif « réduit »<br />étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…</td>
                        <td>10€</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}